a {
    text-decoration: none;
}

h2 {
    color: #662912;
    font-size: 36;
}

#credits {
    text-align: center;
}

#overlay h1 {
    text-align: center;
    color: white;
    font-size: 72px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay img {
    width: 100%;
    max-height: 291px;
}

#ingredients {
    width: 80%;
    max-height: 151px;
    border-radius: 7px;
    border: 3px solid #b34720;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 50px;
}

#recipes {
    width: 80%;
    max-height: 151px;
    border-radius: 7px;
    border: 3px solid #b34720;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 50px;
}

#calculate {
    width: 80%;
    max-height: 151px;
    border-radius: 7px;
    border: 3px solid #b34720;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 50px;
}

div > p {
    padding-left: 23px;
    color: #663f31;
}

div > h2 {
    padding-left: 23px;
}
